{% extends "ticket/base.html" %}
{% load app_filters %}

{% block body %}
    <h3 class="mb-4">#{{ ticket.id }}: {{ ticket.subject }}</h3>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="card mb-2" style="margin-left: 100px; background-color: antiquewhite;">
        <div class="card-body">
            <p class="card-subtitle mb-2 badge text-muted float-right">
                {{ ticket.processed }}
            </p>
            <p style="clear: both;">{{ ticket.html | reset_html_styles | safe}}</p>
        </div>
    </div>

    {% for response in responses %}
        {% if response.outgoing %}
            <div class="card mb-2" style="margin-right: 100px; background-color: aliceblue;">
        {% else %}
            <div class="card mb-2" style="margin-left: 100px; background-color: antiquewhite;">
        {% endif %}
    <div class="card-body">
        {% if response.outgoing %}
            <p class="card-subtitle mb-2 badge text-muted float-left">
                {% else %}
            <p class="card-subtitle mb-2 badge text-muted float-right">
        {% endif %}
        {{ response.processed }}
        </p>
        <p style="clear: both;">{{ response.html | reset_html_styles | safe }}</p>
    </div>
    </div>
    {% endfor %}

    <form action="." method="post" class="mt-5 pb-5">
        {% csrf_token %}
        {{ form.response }}
        {{ form.message }}
        <input type="submit" class="btn btn-primary mt-2" value="Send Reply"/>
    </form>

{% endblock %}
